version: '3'
services:
  elk:
    image: sebp/elk:640
    privileged: true
    ports:
      - "5601:5601"
      - "9200:9200"
      - "5044:5044"
    environment:
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    #volumes:
    #  - ~dockerdata/elk:/var/lib/elasticsearch
